@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cagliostro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-brand: "DM Serif Text", serif;
  --font-navbar: "Nunito Sans", sans-serif;
  --font-title: "Cagliostro", sans-serif;
  --font-desc: "Fraunces", serif;
  --font-par: "Noto Sans JP", sans-serif;
  --font-uang: "Cinzel Decorative", serif;

  --color-utama: #372015;
  --color-button: #966b56;
  --color-second: #ffece3;
  --color-third: #f0c1aa;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
